secret_keys.json
**pyc
static/
media/
bak.*
.idea/*
**bak
ux/wsgi.py
manage.py
*~
old*
tmp/
Vagrantfile
.vagrant
setup_bionic.sh
ubuntu-bionic-18.04-cloudimg-console.log
infoloom_website.sql
localhost_media
localhost_static
setup_bento.sh